.height-fit {
  max-height: inherit;
}

.kevin {
  max-height: 300px;
}

.inline-unblock {
  display: block !important;
}

.uk-button {
  border-radius: 4px !important;
}

.uk-modal-dialog {
  border-radius: 8px !important;
}

.uk-input, .uk-textarea {
  border-radius: 4px !important;
}

.uk-background-dark {
  background-color: #777;
}

.uk-button-dark {
  background-color: #777;
  border: 1px solid #626262!important;
}

.uk-button-dark:hover {
  border: 1px solid #c2c2c2!important;
}

.uk-button-dark:disabled {
  background-color: transparent;
  color: #999;
  border-color: #e5e5e5!important;
}
