$accent-color: #28aaa7;
$accent-color-light: #2dbcb9;

.height-fit {
  max-height: inherit;
}

.kevin {
  max-height: 300px;
}

.inline-unblock {
  display: block !important;
}

.nav-active,.nav-active:hover {
  background-color: #d5e0e0!important;
}
